<footer class="footer">
    <div class="social-icons">
        <a href="https://t.me/trinitychart" target="_blank"><img src="assets/telegram.png" alt="Telegram" style="width: 50px;"></a>
        <a href="https://www.instagram.com/trinitycharts/" target="_blank"><img src="assets/instagram.png" style="width: 50px;"></a>
        <a href="https://www.twitter.com/trinitychart" target="_blank"><img src="assets/twitter.png" style="width: 50px;"></a>
        <a href="https://amzn.to/3PNPnNZ" target="_blank"><img src="assets/amazon.png" style="width: 50px;"></a>
        <a href="https://www.youtube.com/@trinitychart" target="_blank"><img src="assets/youtube.png" style="width: 50px;"></a>
    </div>
    <div class="contact-info">
        <p>Contact Us at: <span>{{ Email }}</span></p>
    </div>
    <div class="copyright">
        <p>&copy; copyright 2024 TrinityChart.com - All Rights Reserved</p>
    </div>
</footer>