<!-- make a component to use it on all calculators -->
<!-- make the text in for ids #page-heading, #brief-1, #brief-2 dynamic and assign values from ts to them.  -->
<section>
    <div class="heading-ctn">
        <h1 id="page-heading" class="heading-text">
            GANN Support and Resistance Calculator
        </h1>
    </div>
    <div class="ads-ctn">
        <div class="ad-728-90">Space for ADS</div>
    </div>
    <div class="intro-ctn">
        <h2 id="brief-1">
            "Elevate your trading skills with our GANN Support & Resistance Calculator"
        </h2>
        <h3 id="brief-2">
            "Enter the current price of any underlying asset during and make smarter
            trading decisions with our real-time calculator."
        </h3>
    </div>
</section>

<!-- Calculator Container can be used for most calculators -->
<!-- make this as global component -->
<section class="calc-container">
    <div class="calc-ctn">
        <div class="calc-ctn-inside">
            <div class="promo-ctn">
                <div class="yt-vid-ctn">
                    <img src="../../../assets/subscribe-yt-video.png" alt="Watch Now">
                </div>
                <div class="yt-subs-ctn">
                    <img src="../../../assets/subscribe-yt-banner.png" alt="Subscribe">
                </div>
            </div>
            <div class="instruction-ctn">
                <p>
                    "Enter the current price of any underlying asset during and make
                    smarter trading decisions with our real-time calculator."
                </p>
            </div>
            <div class="main-calc-ctn">
                <div class="calc-input-ctn">
                    <div class="input-1">
                        <label for="price">Enter Price*</label>
                        <input type="number" id="price">
                    </div>
                    <!-- make this button class global -->
                    <button class="calculate-btn">
                        Calculate Now
                    </button>
                </div>
                <div class="calc-output">
                    <div class="support-ctn">
                        <div class="calc-output-text">
                            <label for="price">Support 1</label>
                            <input type="number" id="s1">
                        </div>
                        <div class="calc-output-text">
                            <label for="price">Support 2</label>
                            <input type="number" id="s2">
                        </div>
                        <div class="calc-output-text">
                            <label for="price">Support 3</label>
                            <input type="number" id="s3">
                        </div>
                        <div class="calc-output-text">
                            <label for="price">Support 4</label>
                            <input type="number" id="s4">
                        </div>
                        <div class="calc-output-text">
                            <label for="price">Support 5</label>
                            <input type="number" id="s5">
                        </div>
                        <div class="calc-output-text">
                            <label for="price">Support 6</label>
                            <input type="number" id="s6">
                        </div>
                        <div class="calc-output-text">
                            <label for="price">Support 7</label>
                            <input type="number" id="s7">
                        </div>
                        <div class="calc-output-text">
                            <label for="price">Support 8</label>
                            <input type="number" id="s8">
                        </div>
                    </div>
                    <div class="resistance-ctn">
                        <div class="calc-output-text">
                            <label for="price">Resistance 1</label>
                            <input type="number" id="r1">
                        </div>
                        <div class="calc-output-text">
                            <label for="price">Resistance 2</label>
                            <input type="number" id="r2">
                        </div>
                        <div class="calc-output-text">
                            <label for="price">Resistance 3</label>
                            <input type="number" id="r3">
                        </div>
                        <div class="calc-output-text">
                            <label for="price">Resistance 4</label>
                            <input type="number" id="r4">
                        </div>
                        <div class="calc-output-text">
                            <label for="price">Resistance 5</label>
                            <input type="number" id="r5">
                        </div>
                        <div class="calc-output-text">
                            <label for="price">Resistance 6</label>
                            <input type="number" id="r6">
                        </div>
                        <div class="calc-output-text">
                            <label for="price">Resistance 7</label>
                            <input type="number" id="r7">
                        </div>
                        <div class="calc-output-text">
                            <label for="price">Resistance 8</label>
                            <input type="number" id="r8">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>